{% load django_bootstrap5 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% translate "Task Manager" %}{% endblock %}</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container-fluid container-lg">
            <a class="navbar-brand" href="{% url 'index' %}">
                {% translate "Task Manager" %}
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% translate "Users" %}</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% translate "Login" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% translate "Registration" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container container-lg flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer mt-auto py-3 bg-light border-top">
        <div class="container text-left">
            <span class="text-muted"><a href="https://hexlet.io" target="_blank">Hexlet</a></span>
        </div>
    </footer>
</body>
</html>